.profileBody {
    margin-top: 56px;
}

.okvir {
    border: 1px solid black;
}

.vostro p {
    text-align: center;
    padding-right: 10px; 
}
.vostro {
    margin-top: 10px;
}
.textInfo {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

   
}
