.course {
    border: 1px solid #424242;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 15px;
}

.course-logo img {
    width: 200px;
}

.course:nth-child(even) .course-card {
   flex-direction: row-reverse;
}
