.calendar {
    width: 90%;
}

.profileBackground {
    background-color: $body-color;
}
.vostro {
    margin-left: 15px;
    margin-right: 15px;
}

.vostro p {
    padding-right: 10px;
}

.progressWidth {
    width: 95%;
    margin: 0 auto;
}

.courseContent {
    width: 100%;
    padding-bottom: 20px;
    margin-top: 5px;
}

.courseTitle {
    margin-bottom: 0px;
    padding: 5px 5px;
}

.profileCourseBtn {
    border: 1px solid #2196F3;
    color: #2196F3;
    background-color: white;
    width: 120px;
}

.profileCourseBtn:hover {
    border: 1px solid white;
    color: white !important;
    background-color: #2196F3;
}
.cardMarginTop {
    margin-top: 35px;
}